@import "../../assets/scss/variables.scss";

.nav {
  margin: 0 0 0 auto;

  a {
    margin-right: 55px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__links__item {
    font: 500 12px/100px "Roboto", sans-serif;
    text-transform: uppercase;
    color: #222222;
    padding: 0px;
    display: inline-block;
  }
}

.navbar {
  display: flex;
  margin: 0 auto;
  align-items: center;
  width: 85%;
  height: 50px;
  margin-top: 25px;
}

.icon {
  color: $secondary-color;
  font-size: 18px;
  z-index: 2;
}

/* Hide the link that should open and close the topnav on small screens */
.icon {
  display: none;
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .nav {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;

    a {
      display: none;
    }
  }

  button.icon {
    display: block;
    position: absolute;
    top: 20px;
    right: 40px;
    background: transparent;
    border: none;
  }

  .nav.mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 75px;
    z-index: 1;
    background-color: #fff;

    a {
      display: flex;
      margin-right: 0;
      text-align: center;
    }

    .nav__links__item {
      font-size: 20px;
    }

    li {
      margin: 0 auto;
      text-align: center;
    }
  }

  i {
    font-size: 25px;
  }

  .nav__brand__icon {
    display: block;
    position: absolute;
    top: 20px;
    left: 40px;
    z-index: 2;
  }
}
