.portfolio {
  margin-top: 9rem;
  &__filter {
    .filter {
      text-align: center;
      margin-top: 70px;
      margin-bottom: 50px;
      li {
        display: inline-block;
        margin-right: 30px;
        a {
          font-size: 13px;
          color: #777777;
        }
        &:last-child {
          margin-right: 0px;
        }
        &.active {
          a {
            color: #8490ff;
          }
        }
      }
    }
  }
  &__inner {
    margin-bottom: -30px;
  }
  &__item {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 30px;
    &:before {
      content: "";
      background: rgba(255, 255, 255, 0.8);
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all 300ms ease;
    }
    .portfolio__text {
      display: none;
      position: absolute;
      padding: 15px;
      height: 100%;
      width: 100%;
      top: auto;
      left: 0;
      bottom: 0;
      z-index: 10;
      h4 {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 5px;
        text-transform: uppercase;
        cursor: pointer;
      }
      p {
        margin-bottom: 0px;
        font-size: 24px;
      }
    }
    &:hover {
      &:before {
        opacity: 1;
      }
      .portfolio__text {
        display: inline;
        h4 {
          background: linear-gradient(to right, #8490ff 0%, #62bdfc 70%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
}
