.welcome {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }
  .welcome__contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; }

.list {
  list-style: none;
  margin: 0px;
  padding: 0px; }

.social,
.list {
  margin-bottom: 15px; }

.social .list li {
  margin-right: 17px;
  display: inline-block; }
  .social .list li:last-child {
    margin-right: 0px; }
  .social .list li a {
    color: #62bdfc;
    font-size: 24px;
    -webkit-transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s; }
    .social .list li a:hover {
      color: #8490ff; }

@media screen and (max-width: 600px) {
  .welcome {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
    .welcome__contents {
      width: 100%;
      padding-top: 0; } }
