.about__skills {
  text-align: center;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &__item {
    margin: 15px;
    text-align: center;
    i {
      font-size: 35px;
      display: inline-block;
      margin-bottom: 5px;
    }
  }
}
